**Question No.1**

**Create a function that takes an integer and returns a list from 1 to the given number, where:**

**1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the**
**number).**

**2. If the number cannot be divided evenly by 4, simply return the number.**

Examples

amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160,
17, 18, 19, 200, 21, 22, 23, 240, 25]

In [13]:
def amplify(n) :
    l = []
    if n >= 1 :
        for i in range(1,n+1) :
            l.append(i)
            if i % 4 == 0 :
                l[l.index(i)] = i*10
        return l 
    else :
        return 0

In [14]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

In [8]:
amplify(3)

[1, 2, 3]

In [15]:
amplify(0)

0



---

**Question No.2**

**Create a function that takes a list of numbers and return the number that&#39;s unique.**

**Examples**

* unique([3, 3, 3, 7, 3, 3]) ➞ 7

* unique([0, 0, 0.77, 0, 0]) ➞ 0.77

* unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0



**Notes
Test cases will always have exactly one unique number while all others are the same.**

In [1]:
def unique(n) :
    for i in n :
        if n.count(i) == 1 :
            return i

In [2]:
unique([3, 3, 3, 7, 3, 3])

7



---

**Question No.3**

**Your task is to create a Circle constructor that creates a circle with a radius provided by an
argument. The circles constructed must have two getters getArea() (PIr^2) and
getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).**


For help with this class, I have provided you with a Rectangle constructor which you can use
as a base example.

Examples

* circy = Circle(11)

* circy.getArea()

* Should return 380.132711084365




---


* circy = Circle(4.44)

* circy.getPerimeter()

* Should return 27.897342763877365


---


**Notes
Round results up to the nearest integer.**

In [3]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def getArea(self):
        return math.pi * self.radius**2

    def getPerimeter(self):
        return 2 * math.pi * self.radius

In [12]:
obj1 = Circle(11)
obj1.getArea()

380.132711084365

In [11]:
obj2 = Circle(4.44)
obj2.getPerimeter()

27.897342763877365



---

**Question No.4**

**Create a function that takes a list of strings and return a list, sorted from shortest to longest.**

**Examples**

* sort_by_length([&quot;Google&quot;, &quot;Apple&quot;, &quot;Microsoft&quot;])

➞ [&quot;Apple&quot;, &quot;Google&quot;, &quot;Microsoft&quot;]

* sort_by_length([&quot;Leonardo&quot;, &quot;Michelangelo&quot;, &quot;Raphael&quot;, &quot;Donatello&quot;])

➞ [&quot;Raphael&quot;, &quot;Leonardo&quot;, &quot;Donatello&quot;, &quot;Michelangelo&quot;]

* sort_by_length([&quot;Turing&quot;, &quot;Einstein&quot;, &quot;Jung&quot;])

➞ [&quot;Jung&quot;, &quot;Turing&quot;, &quot;Einstein&quot;]

**Notes
All test cases contain lists with strings of different lengths, so you won&#39;t have to deal with
multiple strings of the same length.**

In [16]:
def sort_by_len(lst):
    lst2 = sorted(lst, key=len)
    return lst2

In [18]:
sort_by_len( (["Google", "Apple", "Microsoft"]))

['Apple', 'Google', 'Microsoft']



---

**Question No.5**

**Create a function that validates whether three given integers form a Pythagorean triplet.**

**The sum of the squares of the two smallest integers must equal the square of the largest number to
be validated.**

**Examples**

* is_triplet(3, 4, 5) ➞ True

3² + 4² = 25

5² = 25

* is_triplet(13, 5, 12) ➞ True

5² + 12² = 169

13² = 169


* is_triplet(1, 2, 3) ➞ False

1² + 2² = 5

3² = 9

**Notes
Numbers may not be given in a sorted order.**

In [ ]:
def is_triplet(*args) :
    summ = 0
    l1 = list(args)
    l1.sort()
    last_ele = l1[-1]**2
    summ = summ + l1[0]**2 + l1[1]**2
    if summ == last_ele :
        return True 
    else :
        return False

In [20]:
is_triplet(1,2,3)

False

In [21]:
is_triplet(3,4,5)

True



---